@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #010114;
}

.landingPageLogoShadow {
  text-shadow: 1px 5px 25px rgba(143, 172, 210, 0.6);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
